@font-face { 
    font-family: Pokemon; 
    src: url('PokemonFont.ttf') format('truetype'); 
}

* {
    font-family: Pokemon, monospace;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}

body {
    background-color: #555555;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #181818;
}

header p {
    color: #f8f8f8;
    text-align: center;
    font-size: 2em;
}

main {
    width: 20em;
    margin: 0 auto;
    background-color: #f8f8f8;
    color: #181818;
}

#pokedex {
    padding-top: 1em;
    padding-bottom: 2em;
}

.contents {
    padding-left: 1em;
}

ol {
    list-style-type: none;
}

li:focus {
    outline: none;
}

.id {
    padding-left: 1em;
}

.arrow {
    color: transparent;
    padding-right: 3em;
}

li:hover .arrow, li:focus .arrow {
    color: #181818;
}

#entry {
    display: none;
    border: 0.375em solid #884828;
    padding: 1.625em 0.625em 0.625em;
}

.icon {
    position: relative;
    display: inline-block;
    width: 7em;
    height: 7em;
}

img {
    position: absolute;
    top: -2.5em;
    left: -2.5em;
    width: 12em;
    height: 12em;
    image-rendering: pixelated;
}

footer {
    padding: 1em;
    background-color: #181818;
}

footer p {
    color: #f8f8f8;
    text-align: center;
}

footer p + p {
    margin-top: 1em;
}
