@font-face { 
    font-family: Pokemon; 
    src: url('PokemonFont.ttf') format('truetype'); 
}

html {
    scroll-snap-type: y mandatory;
}

* {
    font-family: Pokemon, monospace;
    margin: 0;
    border: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    image-rendering: pixelated;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #78c878;
}

.scroll-snap {
    scroll-snap-align: start;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #181818;
}

header h1 {
    color: #f8f8f8;
    text-align: center;
    font-size: 2em;
    font-weight: normal;
}

main {
    margin: 0 auto;
    background-color: #f8f8f8;
    color: #181818;
}

.hori-bar {
    width: 32em;
    height: 5em;
    background-size: 32em 5em;
}

.vert-bar {
    width: 6em;
    height: auto;
    background-repeat: repeat-y; 
    background-size: 6em auto;
}

.top-bar {
    background-image: url('top.png');
}

.left-bar {
    background-image: url('left.png');
}

.right-bar {
    background-image: url('right.png');
}

.bottom-bar {
    background-image: url('bottom.png');
}

#pokedex {
    display: flex;
    flex-direction: row;
}

.pokedex-left {
    width: 14em;
    border-right: 0.25em solid #181818;
    padding-bottom: 2em;
    padding-right: 0.375em;
}

.contents {
    padding-left: 1em;
    position: sticky; 
    top: 0;
    padding-top: 1em;
    z-index: 1;
    background-color: #f8f8f8;
}

ol {
    list-style-type: none;
}

li:focus {
    outline: none;
}

li:hover .arrow, li:focus .arrow {
    color: #181818;
}

button {
    appearance: none;
    background-color: #f8f8f8;
    color: #181818;
    display: block;
    box-sizing: content-box;
    text-align: left;
    font-size: 1em;
}

.id {
    padding-left: 1em;
}

.arrow {
    color: transparent;
    padding-right: 3em;
}

.pokedex-right {
    position: sticky;
    top: 0;
    width: 5em;
    height: 18em;
    padding-left: 0.375em;
}

.pokedex-right-top {
    border-bottom: 0.125em solid #181818;
    padding-top: 2em;
    padding-bottom: 1.25em;
    padding-left: 1em;
}

.pokedex-right-bottom {
    margin-top: 0.125em;
    border-top: 0.25em solid #181818;
    padding-top: 1em;
    padding-bottom: 1em; 
    padding-left: 1em;
}

#entry {
    display: none;
    border: solid #884828;
    border-width: 0.375em 0.375em 0.5em;
    width: 19.25em;
}

.entry-top {
    display: flex;
    border: 0.125em solid #181818;
    padding: 0.5em 0.5em 0.375em;
}

.icon {
    position: relative;
    display: inline-block;
    width: 7em;
    height: 7em;
}

.icon img {
    position: absolute;
    top: -2.5em;
    left: -2.5em;
    width: 12em;
    height: 12em;
    transform: scaleX(-1);
    image-rendering: pixelated;
}

#entryId {
    text-align: center;
}

.entry-top-right {
    width: 10em;
    padding-left: 1em;
}

#entryName, #entryCategory {
    padding-top: 1em;
}

.entry-data {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

#entryHeight {
    padding-right: 1em;
}

.entry-bottom {
    border: 0.125em solid #181818;
    padding: 0.375em 0.5em;
}

#entryText {
    padding-top: 1em;
    white-space: pre-line;
}

#entryMarker {
    text-align: right;
}

#blank {
    display: none;
    width: 20em;
    height: 18em;
}

footer {
    padding: 1em;
    background-color: #181818;
}

footer p {
    color: #f8f8f8;
    text-align: right;
}

footer p:first-child {
    text-align: center;
    padding-bottom: 1em;
}
