@font-face { 
    font-family: Pokemon; 
    src: url('PokemonFont.ttf') format('truetype'); 
}

* {
    font-family: Pokemon, monospace;
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}

body {
    background-color: black;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #555555;
}

header p {
    color: white;
    text-align: center;
    font-size: 2em;
}

main {
    width: 20em;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: white;
}

.contents {
    padding-left: 1em;
}

ol {
    list-style-type: none;
}

li:focus {
    outline: none;
}

.id {
    padding-left: 1em;
}

.arrow {
    color: transparent;
    padding-right: 3em;
}

li:hover .arrow, li:focus .arrow {
    color: black;
}

footer {
    padding: 1em;
    background-color: #555555;
}

footer p {
    color: white;
    text-align: center;
}

footer p + p {
    margin-top: 1em;
}
